<!doctype html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>London Geochronology Centre - {{appname}}</title>
<link href="{{ url_for('static',filename='css/text.css') }}" rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <script>

setInterval(getstatusdata, 1000);

async function getstatusdata() {
  const response = await fetch("/statusdata");
  const statusdata = await response.json();
  var idtoupdate = document.getElementById('123-cpu');
  idtoupdate.innerHTML = statusdata.cputemperature;
  var idtoupdate = document.getElementById('123-laser');
  idtoupdate.innerHTML = statusdata.laser;
  var idtoupdate = document.getElementById('123-power');
  idtoupdate.innerHTML = statusdata.power;
  var idtoupdate = document.getElementById('123-frequency');
  idtoupdate.innerHTML = statusdata.laserfrequency;
  var idtoupdate = document.getElementById('123-autooff');
  idtoupdate.innerHTML = statusdata.autooff;
  var idtoupdate = document.getElementById('123-door');
  idtoupdate.innerHTML = statusdata.doorinterlock;
  var idtoupdate = document.getElementById('123-keyswitch');
  idtoupdate.innerHTML = statusdata.keyswitch;
  var idtoupdate = document.getElementById('123-temp');
  idtoupdate.innerHTML = statusdata.temperature;
  var idtoupdate = document.getElementById('123-average-temp');
  idtoupdate.innerHTML = statusdata.averagetemp;
  var idtoupdate = document.getElementById('123-average-max-temp');
  idtoupdate.innerHTML = statusdata.averagemaxtemp;
  var idtoupdate = document.getElementById('123-maxtemp');
  idtoupdate.innerHTML = statusdata.maxtemp;
  var idtoupdate = document.getElementById('123-pyrolaser');
  idtoupdate.innerHTML = statusdata.pyrolaser;
}

</script>
</head>
<body onload="getstatusdata()">
	  <section class="banner">
		  <div >
              <P class="logo">London Geochronology Centre - {{appname}} - Server Status &nbsp CPU <strong id="123-cpu">awaiting-data</strong>&deg;C</P>
              <p class="breadcrumbtext"><a href = "/" class="breadcrumblink">Return to index</a> &nbsp|&nbsp
              <a href = "/pylog" class="breadcrumblink">Application Log</a> &nbsp|&nbsp
              <a href = "/guaccesslog" class="breadcrumblink">Website Access Log</a> &nbsp|&nbsp
              <a href = "/guerrorlog" class="breadcrumblink">Website Error Log</a> &nbsp|&nbsp
              <a href = "/syslog" class="breadcrumblink">System Log</a></p><br>
          </div>
  </section>
<section class="container2">
    {% if testmode %}<p class="sectiontext"><strong>Test Mode Enabled</strong><br>&nbsp</p>{% endif %}
    <p class="sectiontext"> Laser Status</p>
      <table>
         <thead>
            <td class="tabledataleft"><B>Description</B></td>
            <td class="tabledataleft"><B>Status</B></td>
         </thead>
            <tr>
                    <td class="tabledataleft">Laser Status</td>
                    <td class="tabledataleft" id="123-laser">awaiting-data</td>
            </tr>
             <tr>
                    <td class="tabledataleft">Laser Power (%)</td>
                    <td class="tabledataleft" id="123-power">awaiting-data</td>
            </tr>
             <tr>
                    <td class="tabledataleft">Laser PWM Frequency (Hz)</td>
                    <td class="tabledataleft" id="123-frequency">awaiting-data</td>
            </tr>
           <tr>
                    <td class="tabledataleft">Laser Timeout (s)</td>
                    <td class="tabledataleft" id="123-autooff">awaiting-data</td>
            </tr>
            <tr>
                    <td class="tabledataleft">Laser Door Interlock</td>
                    <td class="tabledataleft" id="123-door">awaiting-data</td>
            </tr>
            <tr>
                    <td class="tabledataleft">Laser Key Switch</td>
                    <td class="tabledataleft" id="123-keyswitch">awaiting-data</td>
            </tr>
            <tr>
                    <td class="tabledataleft">Pyro Current Temperature (&deg;C)</td>
                    <td class="tabledataleft" id="123-temp">awaiting-data</td>
            </tr>
            <tr>
                    <td class="tabledataleft">Pyro Max Temperature (&deg;C)</td>
                    <td class="tabledataleft" id="123-maxtemp">awaiting-data</td>
            </tr>
            <tr>
                    <td class="tabledataleft">Pyro Average Temperature (&deg;C)</td>
                    <td class="tabledataleft" id="123-average-temp">awaiting-data</td>
            </tr>
            <tr>
                    <td class="tabledataleft">Pyro Average Max Temperature (&deg;C)</td>
                    <td class="tabledataleft" id="123-average-max-temp">awaiting-data</td>
            </tr>
            <tr>
                    <td class="tabledataleft">Pyro Range Laser</td>
                    <td class="tabledataleft" id="123-pyrolaser">awaiting-data</td>
            </tr>
         {% for thread in threads %}
             <tr>
                    <td class="tabledataleft">{{thread[0]}}</td>
                    <td class="tabledataleft">{{thread[1]}}</td>

                </tr>
         {% endfor %}
      </table>
    <p>&nbsp</p>
    <table>
        <thead>
        <td class="tabledataleft"><a href = "/VideoFeed0">Camera 0</a></td>
            <td class="tabledataleft"><B><a href = "/VideoFeed1">Camera 1</a></td>
         </thead>
        <tr>
            <td class="tableimage" ><img src="{{ url_for('video_feed0') }}" alt=" Webcam feed camera 0"></td>
            <td class="tableimage" ><img src="{{ url_for('video_feed1') }}" alt=" Webcam feed camera 1"></td>
        </tr>
      </table>
    <p>&nbsp</p>
	</section>
  <section class="banner">
 <div class ="copyright"><strong>Software Version</strong> {{version}}<br>&copy;2025 - <strong>London Geochronology Centre</strong></div>
	  </section>
</body>
</html>
